@import './utilities/base.css';
@import './utilities/typography.css';
@import './utilities/variables.css';

.container-logo {
	width: 100%;
	text-align: center;
}

.logo {
	margin: 4.4rem 0 5.4rem;
}
