@import './components/buttons.css';
@import './components/divider-grapic-element.css';

@import './utilities/base.css';
@import './utilities/typography.css';
@import './utilities/variables.css';
@import './utilities/spacing.css';

@import './layout/divider.css';
@import './layout/gallery.css';

.container-logo {
	width: 100%;
	text-align: center;
}

.logo {
	margin: 4.4rem 0 5.4rem;
}

.hero-img-1 {
	width: 100%;
	overflow: hidden;
}

.hero-img-1::after {
	content: '';
	display: block;
	background-image: url(../assets/tablet/image-hero.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 15.3rem;
	padding: 0;
	margin-left: -5.2%;
	margin-right: -5.2%;
	margin-bottom: 4.8rem;
}

.hero-content,
.container-gallery,
.container-benefits {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2.4rem;
}

.hero-buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn-secondary:link,
.btn-secondary:visited {
	max-width: 13.9rem;
	background-color: var(--color-primary-2);
	padding: 1em 1.8em;
}

.btn-secondary:hover,
.btn-secondary:active {
	background-color: #b18bdd;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 60rem;
	column-gap: 2.5rem;
	row-gap: 2.4rem;
	margin-bottom: 6.4rem;
}

.item {
	border-radius: 8px;
	overflow: hidden;
}

.item > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container-benefits {
	margin-bottom: 14em;
}

.footer {
	width: 100%;
	height: 54rem;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(/assets/mobile/image-footer.jpg);

	position: relative;
}

.footer-overlay {
	color: #fff;
	background-color: rgb(77, 150, 168, 0.8955);
	width: 100%;
	height: 54rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 0 2.4em;
}

.footer-overlay > .heading-secondary {
	color: #fff;
}
.footer-overlay > .btn {
	margin: 0;
}

.footer > .divider {
	margin: 0;
	position: absolute;
	left: 50%;
	top: -140px;
	transform: translate(-50%, 28px);
}

@media (min-width: 48em) {
	.logo {
		margin-bottom: 6.4rem;
	}

	.hero-content {
		padding: 0 15.6em;
	}

	.hero-img-1::after {
		height: 30.3rem;
		margin-left: -3.385%;
		margin-right: -3.385%;
		margin-bottom: 7.2rem;
	}

	.hero-buttons {
		flex-direction: row;
		gap: 1.6rem;
	}

	.btn-1 {
		margin-bottom: 0;
	}

	.gallery {
		grid-template-columns: repeat(4, 1fr);
		max-width: 110rem;
		column-gap: 1.1em;
		margin-bottom: 4.8em;
	}

	.container-benefits {
		padding: 0 9.8em;
		margin-bottom: 15.4em;
	}

	.footer {
		background-image: url(/assets/tablet/image-footer.jpg);
		position: relative;
	}

	.footer-overlay > .paragraph-style {
		font-size: 1.8rem;
		line-height: 1.444em;
		margin-bottom: 4rem;
	}
}
