.divider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 6.4rem 0;
}

@media (min-width: 48em) {
	.divider {
		margin: 8rem 0 6.7rem;
	}
}
@media (min-width: 90em) {
	.divider {
		margin: 11rem 0 6.4rem;
	}
}
