@import './variables.css';

.heading-primary,
.heading-secondary {
	color: var(--color-dark);
	font-weight: 900;
	text-align: center;
	max-width: 44.5rem;
}

.heading-primary {
	font-size: 4rem;
	line-height: 1.1;
	margin-bottom: 0.6em;
}

.heading-secondary {
	font-size: 3.2rem;
	line-height: 1.125;
	margin-bottom: 0.75em;
}

.overline {
	color: var(--color-primary-1);
	font-size: 1.6rem;
	font-weight: 900;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-bottom: 1.5em;
}

.paragraph-style {
	font-size: 1.6rem;
	line-height: 1.625;
	text-align: center;
	max-width: 54rem;
	margin-bottom: 2.125em;
}

@media (min-width: 48em) {
	.heading-primary {
		font-size: 4.8rem;
		line-height: 1;
		margin-bottom: 0.5em;
	}

	.heading-secondary {
		font-size: 4rem;
		line-height: 1.1;
		margin-bottom: 0.8em;
	}

	.paragraph-style {
		margin-bottom: 2em;
	}

	.overline {
		margin-bottom: 1.6em;
	}

	@media (min-width: 90em) {
		.heading-primary {
			font-size: 6.4rem;
			margin-bottom: 0.5312em;
		}

		.paragraph-style {
			font-size: 1.8rem;
			line-height: 1.444;
			text-align: center;
			max-width: 54rem;
			margin-bottom: 1.777em;
		}
	}
}
