.btn {
	display: inline-block;
	font-family: inherit;
	font-weight: 900;
	text-decoration: none;
	color: #fff;
	font-size: 1.6rem;
	line-height: 1.625;
	border: none;
	border-radius: 29px;
	transition: all 0.3s;
}

.download:link,
.download:visited {
	background-color: var(--color-primary-1);
	max-width: 19.3rem;
	padding: 1em 2.5em;
}
.download:hover,
.download:active {
	background-color: var(--color-secondary-1);
}

.what-is-it:link,
.what-is-it:visited {
	max-width: 13.9rem;
	background-color: var(--color-primary-2);
	padding: 1em 1.8em;
}

.what-is-it:hover,
.what-is-it:active {
	background-color: var(--color-secondary-2);
}
