.btn {
	display: inline-block;
	font-family: inherit;
	font-weight: 900;
	text-decoration: none;
	color: #fff;
	font-size: 1.6rem;
	line-height: 1.625;
	border: none;
	border-radius: 29px;
	transition: all 0.3s;
}
